@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
* {
  font-family: Poppins, Arial;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }

body{
  margin: 0;
  box-shadow: none;
}


.search {
  position: relative;
  
}

.recent {
  height: 25px;
  line-height: 2em;
  padding-left:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.searchtext{
  outline: none;
  border: none;
  width: 200px;
  height: 20px;
  background: white;
  padding: 10px 10px 10px 25px;
  border-radius: 1.2em;
  border-style: none; 
  transition: 0.5s;
  box-shadow: none;
  font-size:0.85em;
}
.searchtext:focus + .searchdrop{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.searchdrop {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 40px;
  padding: 20px 10px 10px 25px;
  background-color: white;
  width: 200px;
  z-index: 1;
  border-bottom-left-radius: 1.2em ;
  border-bottom-right-radius: 1.2em ;
  font-size:0.85em;
  transition: 0.5s;
  opacity: 0;
}
.searchdrop:before{
  content: '';
    background: whitesmoke;
    width: 180px;
    height: 2px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.removesearch{
  width: 8px;
  height: auto;
  margin-right: 30px;
  padding: 5px;
  border-radius: 50%;
  overflow: visible;
  fill: #f33b3b;
}
.removesearch:hover{
  background:#f33b3b ;
  fill: white;
}


.content {
  background: whitesmoke;
  padding: 5em;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  line-height: 3.5em;
  align-items: center;
}
.header h1{
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.love {
  right: 0;
  top: 0;
  background: white;
  position:absolute;
  width: 1.3em;
  padding: 0.7em;
  margin: 0.4em;
  border-radius: 1em;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.head{
    color: #f33b3b !important;
}
.saved {
  background: #f33b3b;
  opacity: 1;
}
.saved > .lovefill {
  fill: white;

}

.side{
  position: fixed;
  margin-right: 0;
  top:20%;
  right: 0px;
  padding:1em;
  padding-right:1.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width:1.7em;
}
.side:hover{
  padding-right:2.5em;
}


.gallery {
    columns: 3;
    column-gap: 1.5em;
  } 
  
  .photos {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 1.2em;
    height:100%;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .photos img {
    width: 100%;
    height: auto;
    border-radius: 1.5em;
  }
  
  .user {
    bottom: 0;
    left: 0;
    padding: 0.7em 1.5em ;
    color: white;
    background: #f33b3b;
    border-radius: 1.2em;
    font-size: 1em;
    position:absolute;
    margin: 0.8em;
    opacity: 0;
    transition: 0.5s;
  }
  
  
  
  .photos:hover > .user, .photos:hover > .love{
    opacity: 1;
    transition: 0.5s;
  }
  .photos:hover > img {
    opacity: 0.9;
    transition: 0.5s;
  }
  
  .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(241, 241, 241); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.877); /* Black w/ opacity */
    transition: 0.5s;
  }
  .modalcontent {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 0px;
    border-radius: 2em; 
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: rightin;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  
  .picture-list-move {
    transition: all 1s;
  }

  .picture-list-enter, .picture-list-leave-to
  /* .picture-list-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .picture-list-leave-active {
    /* position: absolute; */
    display: none;
  }
  
  .gallery-list {
    transition: all 1s;
  }
  .gallery-list-enter, .gallery-list-leave-to
  /* .picture-list-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .gallery-list-leave-active {
    opacity: 0;
    transform: translateY(30px);
  }
  .gallery-list-enter-active {
    opacity: 0;
    transform: translateY(100px);
  }
  @keyframes rightin {
    from { opacity: 0}
    to { opacity: 1}
  }
  
  .close {
    color: #aaa;
    position: fixed;
    margin: 1em;
    right:0;
    font-size: 45px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modalimg{
    width:60%;
  }
  .modaltext{
    width: 40%;
    padding: 3em;
    position: relative;
    
  }
  .modaldesc {
    text-overflow: ellipsis; 
    height:auto;
  }
  .modallove{
    opacity: 1;
    margin: 2em;
    width:1.6em;
  }


@media screen and (max-width: 425px){
  .content{
    padding: 3em;
  }
  .header{
    flex-direction: column;
    padding-bottom: 1.5em;
    line-height: 3em;
    align-items: normal;
  }
  .search{
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
  .gallery{
    columns: 1;
  }
  .modalcontent{
    flex-direction: column;
  }
  .modalimg{width: 100%}
  .modaltext{
    width: 92%;
    padding: 0.8em;
  }
  .modaldesc{
    font-size: 1.4em;
    margin-top:0.3em;
  }
  .modallove{
    margin: 0.5em;
  }
  .modaluser{
    margin-bottom:0em;
  }
  .close{
    margin:0.3em;
  }
  .side{
    position: absolute;
    top:30%;
  }
} 

@media screen and (max-width: 320px){
  .content{
    padding: 1.3em; 
  }

  .header{
    font-size: 0.7em;
  }


}