@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
* {
  font-family: Poppins, Arial;
}

html{
  --backg: whitesmoke;
  --input: white;
  --text: black;
  --bgmodal: rgba(255, 255, 255, 0.76);
  --modal: white;
  background: var(--backg);
  transition: 0.5s;
}

html[data-theme='darktheme']{
  --backg: #292929;
  --input: black;
  --text: white;
  --bgmodal: rgba(0, 0, 0, 0.853);
  --modal: #292929;
}
::-webkit-scrollbar{
  width:2px;
}
::-webkit-scrollbar-track{
  background: var(--input);
}
::-webkit-scrollbar-thumb{
  background: var(--text);
}

h2{
  color: var(--text);
}
/* 
.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  } */


body{
  margin: 0;
  box-shadow: none;
}


.search {
  position: relative;
  
}
input[type=text]{
  color: var(--text);
}

.recent {
  height: 25px;
  line-height: 2em;
  padding-left:10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.searchtext{
  outline: none;
  border: none;
  width: 200px;
  height: 20px;
  background: var(--input);
  padding: 10px 10px 10px 25px;
  border-radius: 1.2em;
  border-style: none; 
  transition: 0.5s;
  box-shadow: none;
  font-size:0.85em;
}
.dropbox {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.searchtext:focus + .searchdrop, .searchdrop:hover{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.searchdrop {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 40px;
  padding: 20px 10px 10px 25px;
  background-color: var(--input);
  width: 200px;
  z-index: 1;
  border-bottom-left-radius: 1.2em ;
  border-bottom-right-radius: 1.2em ;
  font-size:0.85em;
  transition: 0.5s;
  opacity: 0;
}
.searchdrop:before{
  content: '';
    background: var(--backg);
    width: 180px;
    height: 2px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.removesearch{
  width: 8px;
  height: auto;
  margin-right: 30px;
  padding: 5px;
  border-radius: 50%;
  overflow: visible;
  fill: #f33b3b;
}
.removesearch:hover{
  background:#f33b3b ;
  fill: white;
}


.content {
  background: var(--backg);
  padding: 5em;
  transition: 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  line-height: 3.5em;
  align-items: center;
  color: var(--text);
  transition: 0.5s;
}
.header h1{
  margin: 0;
  padding: 0;
  font-size: 3em;
}

.love {
  right: 0;
  top: 0;
  background: white;
  position:absolute;
  width: 1.3em;
  padding: 0.7em;
  margin: 0.4em;
  border-radius: 1em;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.dark {
  right: 0;
  top: 10% !important;
  background: var(--input) !important;
  position:absolute;
  width: 1.3em;
  padding: 0.7em;
  margin: 0.4em;
  border-radius: 1em;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
  fill: gray;
}

.head{
    color: #f33b3b !important;
}
.saved {
  background: #f33b3b;
  opacity: 1;
}
.saved > .lovefill {
  fill: white;

}

.side{
  position: fixed;
  margin-right: 0;
  top:20%;
  right: 0px;
  padding:1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width:1.7em;
  height: 1.7em;
}
.side:hover{
  padding-right:2.5em;
}


.gallery {
    /* columns: 3;
    column-gap: 1.5em; */
    /* column-fill: inherit; */
    display: grid;
    grid-gap: 0.9em;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: 0;
  }
.gallery-brick{
  transition: 0.5s;
  margin-left: 0.4em;
  margin-right: 0.4em;
} 

.gallery-title{
  font-size: 2.3em;
  text-transform: capitalize;
  width: fit-content;
  padding: 0;
  position: relative;
}

.gallery-title:hover{
  cursor: pointer;
}

.gallery-title:before{
  content: "";
  height: 3px;
  background: rgb(140,9,9);
  background: linear-gradient(90deg, rgba(140,9,9,1) 0%, rgba(243,59,59,1) 76%, rgba(255,89,89,1) 100%);
  position: absolute;
  bottom: -2px;
  z-index: 1;
  animation: linein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
  
::-moz-selection { 
  background-color: #f33b3b; 
  color: #ffffff;
  }
  
  ::selection {
  background-color: #f33b3b;
  color: #ffffff;
  }

  .photos {
    overflow: hidden;
    position: relative;
    /* display: inline-block;
    margin-bottom: 1.2em;
    height:100%; */
    cursor: pointer;
    transition: 0.5s;
  }
  
  .photos img {
    width: 100%;
    height: auto;
    border-radius: 1.5em;
  }
  
  .user {
    bottom: 0;
    left: 0;
    padding: 0.7em 1.5em ;
    color: white;
    background: #f33b3b;
    border-radius: 1.2em;
    font-size: 1em;
    position:absolute;
    margin: 0.8em;
    opacity: 0;
    transition: 0.5s;
  }
  
  
  
  .photos:hover > .user, .photos:hover > .love{
    opacity: 1;
    transition: 0.5s;
  }
  .photos:hover > img {
    opacity: 0.9;
    transition: 0.5s;
  }
  
  .modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: var(--bgmodal); /* Black w/ opacity */
    transition: 0.5s;
    align-items: center;
  }
  .modalcontent {
    position: relative;
    background-color: var(--modal);
    margin: 2% auto;
    padding: 0px;
    border-radius: 2em; 
    width: 80%; /* Could be more or less, depending on screen size */
    height: 92vh;
    animation-name: rightin;
    animation-duration: 0.4s;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .modaluser{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .modaluser:before{
    content: "";
    height: 2px;
    background: rgb(140,9,9);
    background: linear-gradient(90deg, rgba(140,9,9,1) 0%, rgba(243,59,59,1) 76%, rgba(255,89,89,1) 100%);
    position: absolute;
    bottom: -5px;
    z-index: 1;
    animation: linein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  @keyframes linein{
    from { width: 0px }
    to { width: 100px }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
  
  .gallery-list-move {
    transition: all 1s;
  }

  .gallery-list-enter, .gallery-list-leave-to{
    opacity: 0;
  }
  .gallery-list-leave-active {
    display: none;
  }

  .picture-list-move {
    transition: all 1s;
  }

  .picture-list-enter, .picture-list-leave-to
  /* .picture-list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(100px);
  }
  .picture-list-leave-active {
    /* position: absolute; */
    display: none;
  }
  
  .search-list {
    transition: all 1s;
  }
  .search-list-enter, .search-list-leave-to
  /* .picture-list-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  .search-list-leave-active {
    opacity: 0;
    transform: translateY(30px);
  }
  .search-list-enter-active {
    opacity: 0;
    transform: translateY(100px);
  }
  
  @keyframes rightin {
    from { opacity: 0}
    to { opacity: 1}
  }
  
  .close {
    color: #aaa;
    position: fixed;
    margin: 1em;
    right:0;
    font-size: 45px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
  }
  
  .modalimg{
    width:60%;
    object-fit: cover;
  }
  .modaltext{
    width: 40%;
    padding: 3em;
    position: relative;
    color: var(--text);
  }
  .modaldesc {
    text-overflow: ellipsis; 
    height:auto;
  }
  .modallove{
    opacity: 1;
    margin: 2em;
    width:1.6em;
    z-index:2;
  }

  .arrow{
    position: fixed;
    background-color: white;
    border-radius: 100000px;
    font-size: 15px;
    padding: 10px;
    width: 1.6em;
    text-align: center;
    fill: #f33b3b;
    -webkit-user-select: none;
  }
  .arrow:hover{
    cursor: pointer;
  }
  
  .left{
    left: 5%;
    top: 50%;
    transform: rotate(180deg);
  }
  .right{
    right: 5%;
    top: 50%;
  }


@media screen and (max-width: 425px){
  .content{
    padding: 1.6em;
  }
  .header{
    flex-direction: column;
    padding-bottom: 1.5em;
    line-height: 3.5em;
    align-items: normal;
  }
  .search{
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
  .gallery{
    columns: 1;
  }
  .gallery-brick{
    margin-left: 0;
    margin-right: 0;
  } 
  .modalcontent{
    flex-direction: column;
  }
  .modalimg{
    width: 100%
  }
  .modaltext{
    width: 92%;
    padding: 0.8em;
  }
  .modaldesc{
    font-size: 1.4em;
    margin-top:0.3em;
  }
  .modallove{
    margin: 0.5em;
  }
  .modaluser{
    margin-bottom:0em;
  }
  .close{
    margin:0.3em;
  }
  .side{
    position: absolute;
    top:30%;
  }
  .love{
    top: 100px;
  }
  .dark{
    top: 40px !important;
  }
} 

@media screen and (max-width: 375px){
  .content{
    padding: 1.3em; 
  }

  .header{
    font-size: 0.7em;
  }

  .side:hover{
    padding-right:1em;
  }

}